<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Candidates <button mat-raised-button class="btn-color pull-right" (click)="openDialog()">Add Candidate</button></h4>
                        <p class="card-category"> Candidates Table</p>
                    </div>
                    <div class="card-body">
                        
                      <mat-grid-list cols="2" rowHeight="3:2">
                        <mat-grid-tile>
                          <div class="img-card iCard-style3">
                            <div class="card-content">
                                <div class="card-image">
                                  <br>
                                    <img src="../../../assets/img/nabil.jfif"/>
                                </div>
                            </div>
                            <div class="card-text">
                                <p>
                                  نبيل القروي <br>
                                    Nabil Karoui
                                </p>
                            </div>
                                  <div class="card-link">
                                    <button mat-icon-button (click)="editCandidat()" color="primary">
                                        <mat-icon>edit</mat-icon>
                                      </button>
                                      <button mat-icon-button (click)="deleteCandidat()" color="warn">
                                        <mat-icon>delete</mat-icon>
                                      </button>
                                </div>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                          <div class="img-card iCard-style3">
                            <div class="card-content">
                                <div class="card-image">
                                  <br>
                                    <img src="../../../assets/img/kais.jfif"/>
                                </div>
                            </div>
                            <div class="card-text">
                                <p>
                                  قيس سعيد   <br>
                                  Kais Saied
                                </p>
                            </div>
                          <div class="card-link">
                                <button mat-icon-button (click)="editCandidat()" color="primary">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                  <button mat-icon-button (click)="deleteCandidat()" color="warn">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                            </div>
                            </div>
                        </mat-grid-tile>
      
                      </mat-grid-list>
      
                        </div>
                    </div>
                </div>
            </div>
          